
/* ============ RESET UNIVERSAL ============ */
*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #0d0b0d;
    --secondary-color: #555;
    --accent-color: #c965ff;
    --background-color: #f4f4f4;
    --text-color: #333;
    --color-text-light: #777;
    
    --font-family: 'Arial', sans-serif;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;

    --radius: 4px;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    line-height: 1.6;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: var(--primary-color);
    margin-bottom: var(--spacing-md);
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}