
/* ============ RESET UNIVERSAL ============ */
*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #0d0b0d;
    --secondary-color: #555;
    --accent-color: #c965ff;
    --background-color: #f4f4f4;
    --text-color: #333;
    --color-text-light: #777;
    
    --font-family: 'Arial', sans-serif;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;

    --radius: 4px;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    line-height: 1.6;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: var(--primary-color);
    margin-bottom: var(--spacing-md);
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: var(--spacing-md);
}

.nav-links {
    display: flex;
    gap: 25px; 
}

.nav-logo {
    color: var(--background-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-logo:hover {
    color: var(--accent-color);
}

.nav-links a {
    color: var(--background-color);
    font-size: 1rem;
    transition: color 0.8s ease;
}

.nav-links a:hover {
    color: var(--accent-color);
}

#hero img {
    margin: 0 auto;
}

#hero {
    min-height: 60vh; /* ocupa mínimo 60% de la pantalla */
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    text-align: center;
    padding: var(--spacing-xl);
}


.hero-content {
    max-width: 800px;
}


#hero h1 {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: var(--spacing-md);
    color: var(--primary-color);
}


#hero p {
    font-size: 1.1rem;
    color: var(--secondary-color);
    margin-bottom: var(--spacing-lg);
}


#hero a {
    display: inline-block;
    margin-bottom: var(--spacing-lg);
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: white;
    border-radius: var(--radius);
    transition: 0.3s;
}

#hero a:hover {
    background-color: #a94edb;
}

.section {
    padding: var(--spacing-xl);
    max-width: 1200px;
    margin: 0 auto;
}
.section h2 {
    font-size: 2.5rem;
    margin-bottom: var(--spacing-lg);
    text-align: center;
    color: var(--primary-color);
    padding-bottom: var(--spacing-md);
    border-bottom: #0d0b0d 2px solid;
    display: inline-block;
}

.section-light {
    background-color: #ffffff;
}

.section-dark {
    background-color: #c965ff;
}

